spring:
  application:
    name: api-server

  datasource:
    url: jdbc:postgresql://${POSTGRES_URL:localhost:5432}/${POSTGRES_DB:postgres}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:postgres}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

  profiles:
    include: oauth,monitoring,paiaadapter
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
jwt:
  secret: ${JWT_SECRET}

cors:
  allowed-origins: ${CORS_ORIGINS:http://localhost:5173}
